.movie {
    font-size: 11pt;
    border-collapse: inherit !important;
    font-weight: bold;
}

.movie thead th{
    color: #fff;
    background-color: #212529;
}

.movie td, th {
    padding: 10px;
}

/*.movie tr:nth-child(even) {
    background: #E0E0E0;
}

.movie tr:hover {
    background: #BEBEBE;
}*/

.chart-size{
    width:650px;
}