.movie {
    font-size: 11pt;
    border-collapse: inherit !important;
}

.movie thead th{
    color: #fff;
    background-color: #212529;
}

.movie td, th {
    padding: 10px;
}

.movie tr:nth-child(even) {
    background: #E0E0E0;
}

.movie tr:hover {
    background: #BEBEBE;
}

.chart-size{
    width:560px;
    height:560px;
    margin:auto;
}